RewriteEngine on
RewriteRule ^monkeymart$ fun/monkeymart.html [NC,L]
RewriteRule ^ctr$ fun/ctr.html [NC,L]
RewriteRule ^ctr-tr$ fun/ctr-tr.html [NC,L]
RewriteRule ^ctr-holiday$ fun/ctr-holiday.html [NC,L]
RewriteRule ^subway-surfers$ fun/subway-surfers.html [NC,L]
RewriteRule ^cookie-clicker$ fun/cookie-clicker.html [NC,L]
RewriteRule ^99balls$ fun/99balls.html [NC,L]
RewriteRule ^1v1lol$ fun/1v1lol.html [NC,L]
RewriteRule ^baldisbasics$ fun/baldisbasics.html [NC,L]
