body {
  text-align: center;
  background-color: #222;
  color: #fff;
}

#search-bar {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #444;
  color: #fff;
}

.image-button {
  display: inline-block;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #333;
  position: relative;
  overflow: hidden;
  width: 250px; /* change this to your desired width */
  height: 250px; /* change this to your desired height */
}

.image-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 5px;
}

.image-button p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #444;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
